@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary: #111111;
  --primary-text: #cccccc;
  --secondary: #daa520;
  --secondary-text: #000000;
  --accent: #505050;
  --accent-text: #cccccc;
  --font-family: "Inter", sans-serif;
}
